<nav class="navbar">
    <div class="nav-left">
        <a href="{{ url_for('main_menu') }}">Stemmesystem</a>
    </div>
    <div class="nav-right">
        <a class="{{ 'active' if request.endpoint == 'main_menu' else '' }}"
            href="{{ url_for('main_menu') }}">Hovedmeny</a>
        <a class="{{ 'active' if request.endpoint == 'create_subject' else '' }}"
            href="{{ url_for('create_subject') }}">Opprett emne</a>
        <a class="{{ 'active' if request.endpoint == 'profile' else '' }}" href="{{ url_for('profile') }}">Profil</a>
        <a href="{{ url_for('logout') }}">Logg ut</a>
    </div>
</nav>
